force-app/main/default/flows/Create_or_Update_Training_Event_When_Training_Product_Is_Created_Or_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_New_Values_To_Existing_Training_Event</name>
        <label>Assign New Values To Existing Training Event</label>
        <locationX>99</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Training_Event.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Training_Event.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Training_Event.Related_To_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Training_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IS_INSERT_OR_IS_UPDATE</name>
        <label>IS_INSERT_OR_IS_UPDATE</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Training_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IS_UPDATE</defaultConnectorLabel>
        <rules>
            <name>IS_INSERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FORM_IS_INSERT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Training_Event</targetReference>
            </connector>
            <label>IS_INSERT</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_RECORD_MODIFIED</name>
        <label>IS_RECORD_MODIFIED</label>
        <locationX>231</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>IS_NOT_MODIFIED</defaultConnectorLabel>
        <rules>
            <name>IS_MODIFIED</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Training_Event.StartDateTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Training_Event.EndDateTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Training_Event.Related_To_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Values_To_Existing_Training_Event</targetReference>
            </connector>
            <label>IS_MODIFIED</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_TRAINING_EVENT_NOT_NULL</name>
        <label>IS_TRAINING_EVENT_NOT_NULL</label>
        <locationX>429</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_Training_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IS_NULL</defaultConnectorLabel>
        <rules>
            <name>IS_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Training_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_RECORD_MODIFIED</targetReference>
            </connector>
            <label>IS_NOT_NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FORM_IS_INSERT</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Create or Update Training Event When Training Product Is Created Or Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or Update Training Event When Training Product Is Created Or Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Event</name>
        <label>Create Training Event</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.End__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Training_Event</name>
        <label>Get Existing Training Event</label>
        <locationX>429</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_TRAINING_EVENT_NOT_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Training_Event</name>
        <label>Update Existing Training Event</label>
        <locationX>99</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Existing_Training_Event</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IS_INSERT_OR_IS_UPDATE</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Training&quot;</filterFormula>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
